/Fabnacci_Series.java
/Hollow_Rhombus_Pattern.java
/Inver_Hour_Glass.java
/nwe.java
/Odd_and_Even_back_in_Delhi.java
/Pattern_Hour_Glass.java
/Pattern_Magic.java
/Pattern_Number_Ladder.java
/Pattern_Rombus.java
/Pattern_with_Zeros.java
/PostInc_Dec.java
/Pre_Inc_Dec.java
/Reverse_of_digit.java
/Shopping_Game.java
/Sum_Of_Digit.java